h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    line-height: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.navigathoin-page, .addres,.mobile-burger, .mobile-window{display: none;}
.company {
    font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    line-height: 1.17;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px
}

.web {
    color: #2e2f42;
}
.one{
    display: flex;
    justify-content:space-between ;
   padding-bottom: 16px;
   padding-top: 16px;
}
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modern {
    position: absolute;
    width: 288px;
    min-height: 623px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 16px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 72px;

}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid #0000001A;
    background-color: #e7e9fc;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-button:hover,
.close-button:focus {
    background-color: #404bbf;
    border: none;
}

.close-button:hover .close-button-svg,
.close-button:focus .close-button-svg {
    fill: #ffffff
}

.wraper {
    margin-bottom: 8px;
}


.close-button-svg {
    fill: #2E2F42;
    line-height: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modern-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;

}

.information-name-label,
.inaformation-text-label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 4px;
    line-height: 1.17;
    color: #8e8f99;
}

.information-name-input {
    padding-left: 38px;
    width: 100%;
    height: 40px;
    border: 1px solid #2E2F4266;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;


}

.information-name-input:focus {
    border-color: #4D5AE5;
    outline-color: transparent;
    outline-offset: 6px;
}

.information-name-wraper {
    position: relative;
}

.information-name-svg {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.information-name-svg:hover {
    fill: #4D5AE5;
}

.information-name-input:focus+.information-name-svg {
    fill: #4D5AE5;
}

.information-text {
    margin-bottom: 16px
}

.inaformation-text-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid #2E2F4266;
    resize: none;
    padding-top: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    color: #2E2F4266;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
}

.inaformation-text-textarea:focus {
    border-color: #4D5AE5;
}

.inaformation-text-textarea::placeholder {
    color: #2E2F4266;
}

.agreement {
    margin-bottom: 24px;
}

.agreement-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.agreement-label-link {
    color: #4D5AE5;
    text-decoration: underline;
}

.agreement-folse-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    cursor: pointer;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.agreement-checkbox:checked+.agreement-label .agreement-folse-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.submit-button {
    min-width: 169px;
    display: block;
    justify-content: center;
    align-items: center;
    height: 56px;
    padding: 16px 32px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px #00000026;
    border-radius: 4px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.hero-section {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 318px;
    padding-top: 72px;
    padding-bottom: 72px;
    text-align: center;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    color: white;
    width: 100%;
    max-width: 290px;
    margin-left: auto;
        margin-right: auto;
   padding-bottom: 72px;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        padding-left: 45px;
        padding-right: 45px;
      
}

.buton-order {
    color: #ffffff;
    text-shadow: 0px, 4px, 4px, #000000;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    background-color: #4D5AE5;
    letter-spacing: 0.04em;
    max-width: 169px;
    margin-right: auto;
    margin-left: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buton-order:hover,
.buton-order:focus {
    background-color: #404BBF;
    color: #ffffff;
    text-shadow: 0px, 4px, 4px, #000000;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}
.tre{
    margin-top: 96px;
    margin-bottom: 96px;
}
.benefits-list{
    display: flex;
    flex-direction: column;
    gap: 72px;
    position: relative;
}
.benefits-list-name{
position: relative;
}
.benefits-images-list {
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border-color: #8E8F99;
    background-color: #F4F4FD;
    padding: 0;
    margin-bottom: 0;
        display: none;
}

.name-benefits , .name, .name-project{
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;}
        .name-project{text-align:left;}
.about-benefits, .work, .type-project{
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-weight:500;
    }
        .our-team, .project {
            padding-bottom: 72px;
            font-weight: 700;
                font-size: 36px;
                line-height: 1.11;
                text-transform: capitalize;
                text-align: center;
                letter-spacing: 0.02em;
                color: #2e2f42;
        }
    
        .our-team-list {
            display: flex;
            gap: 72px;
            flex-direction: column;
            margin-left: 16px;
            margin-right: 16px;
        }
    .four{
        width: 320px;
    }
    .team-section{
        margin-bottom: 96px;
    }
        .pepole {
            padding-top: 32px;
            padding-bottom: 32px;
            width: 100%;
        }
        .our-team-pepole {
            background-color: #FFFFFF;
            width: calc((100%-72px)/ 4);
            border-radius: 0px 0px 4px 4px;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
           }
                  .our-team-worker{
                    margin-left: auto;
                    margin-right: auto;
                  }

        .our-team-images {
            display: flex;
            margin-top: 8px;
            gap: 24px;
            margin-left: 16px;
            margin-right: 16px;
            justify-content: center;
        }
    
        .our-team-images-list {
            border-radius: 50%;
            width: 40px;
            height: 40px;
    
        }
    
        .our-team-images-link {
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
         .work{
          text-align: center;
         }
        .our-team-images-link:hover,
        .our-team-images-link:focus {
            background-color: #404bbf;
        }
    
        .our-team-svg {
            fill: #f4f4fd;
        }
                  .overlay {
                      position: relative;
                      overflow: hidden;
                    }
                  .overlay-text {
                      position: absolute;
                      top: 0;
                      left: 0;
                      Width: 100%;
                      Height: 100%;
                      background-color: #4D5AE5;
                      padding: 40px 32px;
                      transform: translateY(100%);
                      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
                      color: #F4F4FD;
                      font-size: 16px;
                      line-height: 1.5;
                      letter-spacing: 0.02em;
                      overflow: auto;
        
                  }
        
                  
        
                  .project-list {
                      display: flex;
                    flex-direction: column;
                      gap: 72px;
                      
                  }
        
                  .project-name {
                      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
                  }
                .project-name:hover .overlay-text {
                    transform: translateY(0);
                }
                  .project-name:hover {
                      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                          0px 1px 1px rgba(46, 47, 66, 0.16),
                          0px 2px 1px rgba(46, 47, 66, 0.08);
                  }
                .app-name {
                    padding: 32px 16px;
                    border: 1px solid #e7e9fc;
                    border-top: none;
                }
                                .footer {
                                    background-color: #2E2F42;
                                    padding-top: 96px;
                                    padding-bottom: 96px;
                                }
                                .six {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: baseline;
                                    gap: 72px;
                                }
                
                                
                
                                .company-footer {
                                    font-family: 'Raleway',
                                        sans-serif;
                                    font-weight: 700;
                                    line-height: 1.17;
                                    font-size: 18px;
                                    color: #4d5ae5;
                                    letter-spacing: 0.03em;
                                    text-transform: uppercase;
                                    text-align: center;
                                    margin-left: 102px;
                                    
                                   
                                    
                                    
                
                                }
                
                                .company-footer .web {
                                    color: #f4f4fd;
                                }
                                .footer-text {
                                    color: #F4F4FD;
                                    font-size: 16px;
                                    line-height: 1.5;
                                    letter-spacing: 0.02em;
                                    margin-top: 16px;
                                }
                
                                .footer-images-list {
                                    border-radius: 50%;
                                    border-color: #4D5AE5;
                                    background-color: #4D5AE5;
                                    width: 40px;
                                    height: 40px;
                                }
                
                                .footer-link {
                                    width: 100%;
                                    height: 100%;
                                    background-color: #4d5ae5;
                                    border-radius: 50%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                }
                
                                .footer-link:hover,
                                .footer-link:focus {
                                    background-color: #31d0aa;
                                }
                
                                .footer-team-images {
                                    display: flex;
                                    margin-top: 8px;
                                    gap: 16px;
                                    list-style: none;
                                }
                
                                
                
                                .footer-send-form {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 24px;
                                }
                
                                .footer-send-text {
                                    margin-bottom: 16px;
                                    width: 75px;
                                    height: 0.32;
                                    font-family: Roboto;
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 24px;
                                    letter-spacing: 0.02em;
                                    text-align: left;
                                    color: white;
                                    margin-left: auto;
                                        margin-right: auto;
                                }
                
                                .footer-send-form {
                                    display: flex;
                                    margin-left: auto;
                                }
                
                                .footer-send-input {
                                    width: 290px;
                                    height: 40px;
                                    border: 1px solid #FFFFFF;
                                    color: #FFFFFF;
                                    border-radius: 4px;
                                    padding-left: 16px;
                                    font-family: Roboto;
                                    font-size: 12px;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    letter-spacing: 0.04em;
                                    text-align: left;
                                    background-color: transparent;
                                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
                                }
                
                                .footer-send-button {
                
                                    max-width: 165px;
                                    
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: #4D5AE5;
                
                                    font-family: "Roboto", sans-serif;
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 24px;
                                    letter-spacing: 0.04em;
                                    text-align: center;
                                    color: #FFFFFF;
                                    cursor: pointer;
                                    border: none;
                                    border-radius: 4px;
                                    padding-top: 8px;
                                    padding-bottom: 8px;
                                    margin-left: auto;
                                    margin-right: auto;
                                }
                
                                .footer-send-svg {
                                    margin-left: 16px;
                                    fill: #FFFFFF;
                                }
                                .social-media {
                                    color: #FFFFFF;
                                    margin-bottom: 16px;
                                    font-size: 16px;
                                    line-height: 1.5;
                                    letter-spacing: 0.02em;
                                    font-weight: 500;
                                    text-align: center;
                                }
                                .link {
                                    margin-left: auto;
                                    margin-right: auto;
                                }
@media screen and (max-width: 767px) {


    .mobile-burger {
        display: flex;
        border: none;
        line-height: 0;
        width: 24px;
        height: 24px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
    }

    .mobile-window {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999999999;
        display: block;
        background-color: #FFFFFF;
        transform: translateY(-100%);

    }

    .mobile-window.is-open {
        transform: translateY(0);
    }

    .mobile-window-div {
        position: absolute;
        width: 320px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-closer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 24px;
        right: 24px;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        border: 1px solid #0000001A;
        background-color: #e7e9fc;
        padding: 0;
        cursor: pointer;
    }

    .navigathoin-mobile {
        padding-top: 72px;
        padding-bottom: 168px;
    }

    .navigathoin-page-mobile {
        width: 151px;
        height: 200px;
        top: 72px;
        left: 16px;
        font-family: 'Roboto';
        font-size: 36px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.02em;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 40px;
        color: #2E2F42;
    }
    

    .addres-mobile {
        padding-bottom: 48px;
    }

    .addres-list-mobile {
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
    }

    .menu-mobile-first {
        padding-bottom: 24px;
    }

    .mobile-link {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mail-phon-mobile {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mail-phon-mobile:hover,
    .mail-phon-mobile:focus {
        color: #4D5AE5;
    }

    .mobile-link:hover,
    .mobile-link:focus {
        color: #404BBF;
    }

  
}
@media screen and (min-width: 320px) {
    .container {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width:768px)  {
    .modern {
            width: 408px;
            min-height: 584px;
        }
    .container{width: 766px;}
    .one{
        justify-content: space-between;
        padding: 0 15px 0 15px
    }
    .navigathoin{
        display: flex;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
    .navigathoin-page,
        .addres{display: flex;}
        .navigathoin-page{color: #2e2f42;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            list-style: none;
            gap: 40px;
        padding: 16px 0;}
                   .menu {
                     
                       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                   }
        
                   .menu .sate {
                       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                   }
        
                   .menu .mail-phon {
                       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                   }
        
                   .addres-list {
                       color: #434455;
                       font-weight: 400;
                       font-size: 16px;
                       line-height: 1.5;
                       letter-spacing: 0.02em;
                       list-style: none;
                       display: flex;
                       flex-direction: column;
                       gap: 12px;
                       padding: 0 24px;
                   }
        
        
                   .sate {
                       color: #2e2f42;
                       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                   }
        
                   .mail-phon {
                       color: #434455;
                       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                   }
        
                   .sate:hover,
                   .sate:focus,
                   .mail-phon:focus,
                   .mail-phon:hover {
                       color: #404BBF;
                   }
                    .hero-section {
                                       
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-leptop.jpg);
                    max-width: 768px;
                    padding-top: 112px;
                    padding-bottom: 112px;

            
                                     
                }
                                
                                .hero {
                                
                                    font-size: 56px;
                                    max-width: 496px;
                                    line-height:1.07;
                                    padding-bottom: 32px;
                                    padding-right: 0;
                                    padding-left: 0;

                                }
                           .benefits-list {
                            flex-direction: row;
                            gap: 24px;
                            row-gap: 72px;
                            flex-wrap: wrap;
                           }
                            .benefits-list-name{
                                width: calc((100% - 24px) / 2);
                            }
                            .name-benefits {
                             text-align: left;
                               
                            }
.our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
}
.our-team-pepole {
    width: calc((100% - 24px) / 2);
}
.project-list {
    flex-direction: row;
    gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
}

.project-name {
    width: calc((100% - 24px) / 2);
}
 .six {flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: inherit;
    gap: 0;
    padding: 0 108px; 
    row-gap: 72px; 
 }
.company-footer-box{
    width: calc((100% - 2px) / 2);
}
.footer-send{
    width: 100%;
}
.footer-send-form{
    flex-direction: row;
    gap: 24px;
}
.footer-send-label{
    width: 264px;
}
.footer-send-button{
    min-width: 165px;
}
.footer-send-text{
    margin-left: 0;
        margin-right: 0;
    }
    .company-footer{margin-left: 0;}
}


                @media screen and (min-width: 1158px) {
                    .container{
                        width: 1158px;
                    }
                     .addres-list{
                        flex-direction: row;
                        gap: 40px;
                        padding: 24px 0;
                     }
                                         .menu .acctive {
                                             transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                             position: relative;
                                             color: #404bbf;
                                         }
                    
                                         .acctive::after {
                                             content: "";
                                             background-color: #404BBF;
                                             display: block;
                                             width: 100%;
                                             height: 4px;
                                             left: 0;
                                             position: absolute;
                                             
                                             bottom: -25px;
                                             border-radius: 2px
                                         }
                                         .hero-section{
                                            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
                                            padding-top: 188px;
                                                padding-bottom: 188px;
                                                max-width: 1440px;
                                         }
  .benefits-images-list{
 position: relative;
 height: 112px;
 border-radius: 4px;
 border-color: #8E8F99;
 background-color: #F4F4FD;
 padding: 24px 100px;
 margin-bottom: 8px;
 display: block;}   
 .benefits-images-svg{
 width: 100%;
                                                                                                                                                        
}
.benefits-list-name {width: calc((100% - 72px) / 4);}
 .our-team-list{
    row-gap: 0;
    width: 100%;
    gap:24px;
    flex-wrap: nowrap;
 }
 .team-section {
    margin-bottom: 120px;
 }
 .project-list {
    flex-direction: row;
    gap: 24px;
    row-gap: 40px;
    flex-wrap: wrap;
 }
 .project-name{
    width: calc((100% - 48px) / 3);
 }
   .project-name:hover .overlay-text {
       transform: translateY(0);
   }
   .footer {
    padding: 0;
   }
   .six {
       flex-direction: row;
       flex-wrap: nowrap;
       align-items: baseline;
       justify-content: inherit;
       gap: 0;
       padding:100px 0;
       row-gap: 72px;
   }
   .company-footer-box{
    margin-right: 120px;
    width: 100%;
   }
   .footer-send-form {
       display: flex;
       gap: 24px;
       
   }
   .footer-send{
    padding-left: 80px;
   }

   
   .footer-send-button {

      margin-left: 24px;
      
   }
                }
                          @media screen and (min-resolution: 192dpi),
                          screen and (min-resolution: 2dppx),
                          screen and (min-devise-pixel-ratio: 2) {
                              .hero-section {
                                  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-mobile@2x.jpg);
                              }
                          }
            
                                                  @media screen and (min-resolution: 192dpi),
                                                  screen and (min-resolution: 2dppx),
                                                  screen and (min-devise-pixel-ratio: 2) {
                              .hero-section {
                                  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-leptop@2x.jpg);
                              }
                          }
            
                                                  @media screen and (min-resolution: 192dpi),
                                                  screen and (min-resolution: 2dppx),
                                                  screen and (min-devise-pixel-ratio: 2) {
                              .hero-section {
                                  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office@2x.jpg);
                              }
                                                        
                          }