h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    line-height: 0;
}
.container {
    width: 350px;
    padding-left: 15px;
    padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.navigathoin-page, .addres,.mobile-burger, .mobile-window{display: none;}
.company {
    font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    line-height: 1.17;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px
}

.web {
    color: #2e2f42;
}
.one{
    display: flex;
    justify-content:space-between ;
   padding-bottom: 16px;
   padding-top: 16px;
}


@media screen and (max-width: 767px) {

.mobile-burger {
    display: flex;
        border: none;
        line-height: 0;
        width: 24px;
        height: 24px;
        cursor: pointer;
        justify-content: center;
            align-items: center;
    }

.mobile-window {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999999;
    display: block;
    background-color: #FFFFFF;
}
.mobile-window-div{
    position: absolute;
        width: 320px;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
     margin-left: auto;
     margin-right: auto;
}
.mobile-closer{
    display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 24px;
        right: 24px;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        border: 1px solid #0000001A;
        background-color: #e7e9fc;
        padding: 0;
        cursor: pointer;
}
.navigathoin-mobile{
padding-top: 72px;
padding-bottom: 168px;
}
.navigathoin-page-mobile {width: 151px;
    height: 200px;
    top: 72px;
    left: 16px;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 40px;
color:#2E2F42;
}
.addres-list-mobile{
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
}
.menu-mobile-first{
    
}
}
